[Unit]
Description=Keystone SPOF liveness watchdog (one-shot, timer-driven)
Documentation=https://github.com/JacobPEvans/ansible-proxmox-apps

[Service]
Type=oneshot
ExecStart={{ service_deadman_script_path }}
