# {{ ansible_managed }}
{% for server in ntp_servers %}
server {{ server }}
{% endfor %}
{% for pool in ntp_pools %}
pool {{ pool }}
{% endfor %}
driftfile /var/lib/chrony/chrony.drift
logdir /var/log/chrony
leapsectz right/UTC
allow 127.0.0.1
allow ::1
{% if ntp_serve %}
local stratum 10
hwtimestamp *
{% for cidr in ntp_allow_cidrs %}
allow {{ cidr }}
{% endfor %}
{% endif %}
